table, td{
  width: 100%;
  text-align: center !important;
  color: azure;
  font-size: medium;
  background: linear-gradient(rgba(243, 207, 4, 0.3), rgba(116, 243, 12, 0));

}

td:hover {
  cursor: pointer !important;
  background-color: rgb(211, 52, 41) !important;
  color: darkblue;
}

th {
  text-align: center !important;
  color: rgb(131, 13, 13);
  font-size: larger;
  font-weight: bolder;

}
