table, td{
  width: 100%;
  text-align: center !important;
  color: azure;
  font-size: medium;
  background: linear-gradient(rgba(243, 207, 4, 0.3), rgba(116, 243, 12, 0));

}
p{
  font-size: 15px;
  color: darkgray;
}

td:hover {
  cursor: pointer !important;
  background-color: bisque !important;
  color: darkblue;

}

th {
  text-align: center !important;
  color: rgb(165, 248, 157);
  font-size: larger;
  font-weight: bolder;

}
