<body>
  <img src="/assets/img/pokedex_logo2.png" class="logo">

<div class="grid">
  <div></div>
  <div><button class="button" (click)="openCrear()">Añadir nuevo Pokémon</button></div>
  <div></div>
  <div><button class="button" (click)="openListar()">Pokémones capturados</button></div>
  <div></div>
  <div><button class="button" (click)="openEliminar()">Liberar Pokémon</button></div>
  <div></div>
  <div><button class="button" (click)="openEditar()">Editar Pokémon</button></div>
  <div></div>
</div>
</body>
