/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-dialog-container{
  padding: 0px !important;
  background: transparent !important;
}

::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

/* Estilos para el riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #b6994b; /* Color de fondo del riel */
}

/* Estilos para el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #b81111; /* Color del pulgar */
  border-radius: 2px; /* Radio de borde del pulgar */
}

/* Cambia el color del pulgar cuando está activo/hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del pulgar al pasar el mouse */
}
